[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scikit-learn = "*"
pandas = "*"
flask = "*"
google-genai = "*"
minsearch = "*"

[dev-packages]
tqdm = "*"
notebook = "*"
ipywidgets = "*"
hyperopt = "*"

[requires]
python_version = "3.12"
